<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Import CSV et affichage en tableau {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chargement.css') }}">
</head>
<body>
    <div class="container">
        <h1>Importer un fichier CSV</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="csvFile" accept=".csv" required>
            <button type="submit">Importer</button>
        </form>
        <a href="{{ url_for('logout') }}" class="logout-button">Déconnexion</a>
        {% if table_data %}
        <table border="1">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Step</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Name Orig</th>
                    <th>Name Dest</th>
                    <th>Prediction Fraude</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                <tr>
                    <td>{{ row[0] }}</td>  {# transactionId #}
                    <td>{{ row[1] }}</td>  {# step #}
                    <td>{{ row[2] }}</td>  {# type #}
                    <td>{{ row[3] }}</td>  {# amount #}
                    <td>{{ row[4] }}</td>  {# nameOrig #}
                    <td>{{ row[5] }}</td>  {# nameDest #}
                    <td>{{ row[6] }}</td>  {# isFraud (prédiction) #}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>
