body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2A73CC;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    color: white;
    width: 300px;
}

h2 {
    margin: 20px 0;
    font-size: 24px;
    color: white;
}

.input-field {
    margin: 15px 0;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
}

.input-field input::placeholder {
    color: rgb(255, 241, 241);
}
.input-field input:focus {
    outline: none;
    border-bottom: 1px solid #ffffff;
}

.login-button {
    margin-top: 20px;
}

.login-button button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00caee;
    color: #2A73CC;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button button:hover {
    background-color: #ffffff;
}





/* les texte  */

h1 {
    font-size: 2.8em; /* Taille de police légèrement augmentée */
    color: #ffffff; /* Couleur principale de la banque */
    margin-bottom: 20px;
    font-weight: 700; /* Texte en gras */
    text-transform: uppercase; /* Texte en majuscules */
    letter-spacing: 2px; /* Espacement entre les lettres pour un effet moderne */
    position: relative; /* Pour ajouter un effet visuel */
}

p {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    /* text-align: center; */
}



/* le button de la page accueil pour aller se conecter dans la page login */

.btn {
    background-color: #2A73CC; 
    color: white; 
    padding: 15px 30px; 
    font-size: 1.2em; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
    text-decoration: none; 
    display: inline-block; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn:hover {
    background-color: #1c5aa3; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}




