body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}
.container {
    background: #2A73CC;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.message {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}
.file-info {
    font-size: 18px;
    color: #ffffff;
}